.top-banner {
  color: $colour-accent;
  font-size: 1.2rem;
}

.hero-container .card-img-overlay {
  max-width: 65%;
  margin-top: 25%;
  a {
    margin-top: 10px;
    padding: 8px 32px;
  }
}

.hero-img {
  min-height: 70vh;
  width: 100%;
  background-size: cover !important;
}

.tea-tasting {
  margin: 40px auto;

  .card {
    margin: 0 auto;
    padding: 20px;
    max-width: 540px;
  }

  .card-title {
    font-size: 4rem;
  }

  .btn {
    background-color: $colour-accent;
    color: $white;
    padding: 12px 32px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);

    &:hover {
      color: $primary;
      border: 1px solid $primary;
      background-color: $white;
    }
  }
}

.featured {
  margin: 60px auto 40px auto;

  h2 {
    margin: 40px 0 40px 0;
  }

  .col {
    max-width: 450px;
    border: none;
  }
}

.subscribe {
  padding: 40px;

  .input-group {
    width: 90%;
    margin: 20px auto 0 auto;
    padding: 10px;
  }
}

.input-group input,
.input-group button {
  padding: 10px 5px;
}

@media (min-width: 870px) {
  .hero-container .card-img-overlay {
    max-width: 35%;
    margin-top: 15%;
  }

  .tea-tasting {
    .card-title {
      font-size: 6rem;
    }

    .card-text {
      font-size: 1.2rem;
    }
  }

  .subscribe .input-group {
    width: 50%;
  }

  .input-group input,
  .input-group button {
    padding: 10px 20px;
  }
}
